@font-face {
  font-family: "Monofonto";
  src: local("Monofonto Regular"),
  local("Monofonto"),
  url("Monofonto-Regular.woff2") format("woff2"),
  url("Monofonto-Regular.woff") format("woff"),
  url("fonts/monofonto.otf") format("otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.body {
  font-family: "Monofonto", sans-serif;

  background-image: url(img/rabbit-village.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.pc {
  width: 715px;
  margin: 30px auto 0 auto;
  border-radius: 20px;
  overflow: hidden;

  border: 3px solid rgba(0, 0, 0, 0.5);
  box-shadow: 3px 3px 0 1px black;

  background-color: #8b8b89;

  transform: translateY(-1000px);
}

.display {
  position: relative;
  height: 350px;
  margin: 0 auto;
  padding: 25px 40px 40px 25px;

  border-bottom: 2px solid rgba(0, 0, 0, 0.5);

  background-color: #3f6048;
  background-image: url("img/1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

.notes {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 16px;
  border: none;
  border-radius: 30px;
  box-sizing: border-box;
  resize: none;

  overflow: hidden;

  font-family: "Monofonto", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #20eb7d;
  
  background-color: #12211c;
  background-image: url("img/2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  box-shadow: inset 0 0 15px 5px #19b15d;

  outline: none;
}

.video {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  border: none;
  border-radius: 30px;
  box-sizing: border-box;

  overflow: hidden;

  outline: none;

  display: none;
}

.keyboard {
  padding: 15px;

  background-image: url("img/1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

.button {
  width: 47px;
  height: 40px;
  border: 1px solid rgba(25, 177, 93, 0.4);
  border-radius: 4px;
  box-sizing: border-box;
  
  font-family: "Monofonto", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #20eb7d;
  background-color: #12211c;
  text-shadow: 0 0 6px #19b15d;

  box-shadow: 1px 1px 0 1px black;

  background-image: url("img/abrasion-hard.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

.button:focus,
.button:active {
  outline: none;
  transform: translate(2px, 2px);
  box-shadow: inset 0 0 7px 3px #19b15d;
}

.button:hover {
  box-shadow: inset 0 0 7px 3px #19b15d,
                    1px 1px 0 1px black;
}

.button:focus.button:hover,
.button:active.button:hover {
  box-shadow: inset 0 0 7px 3px #19b15d;
}

.line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-bottom: 5px;
}

.bottom-line {
  padding-left: 6px;
  padding-right: 6px;
}

.space {
  width: 60%;
  margin: 0 auto;
}

.lamp {
  width: 26px;
  height: 10px;
  margin-bottom: 10px;

  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.5);

  transform: skewY(-30deg);

  background-color: #ffffff;
}

.lamps {
  position: absolute;
  top: 50px;
  right: 7px;
}

.lamps-on {
  background-image: linear-gradient(to right, rgba(255, 7, 19, 0.5), #ff0713 10%, #ffffff, #ffffff 100%);
  animation: lamp 2s infinite;
}

@keyframes lamp {
  0% {
    background-image: linear-gradient(to right, rgba(255, 7, 19, 0.5), #ffffff 10%,#ffffff 100%);
  }

  10% {
    background-image: linear-gradient(to right, rgba(255, 7, 19, 0.5), #ffffff 20%,#ffffff 100%);
  }

  20% {
    background-image: linear-gradient(to right, rgba(255, 7, 19, 0.5), #ffffff 30%,#ffffff 100%);
  }

  30% {
    background-image: linear-gradient(to right, rgba(255, 7, 19, 0.5), #ffffff 40%,#ffffff 100%);
  }

  40% {
    background-image: linear-gradient(to right, rgba(255, 7, 19, 0.5), #ffffff 50%,#ffffff 100%);
  }

  50% {
    background-image: linear-gradient(to right, rgba(255, 7, 19, 0.5), #ffffff 60%,#ffffff 100%);
  }

  60% {
    background-image: linear-gradient(to right, rgba(255, 7, 19, 0.5), #ffffff 70%,#ffffff 100%);
  }

  70% {
    background-image: linear-gradient(to right, rgba(255, 7, 19, 0.5), #ffffff 80%,#ffffff 100%);
  }

  80% {
    background-image: linear-gradient(to right, rgba(255, 7, 19, 0.5), #ffffff 90%,#ffffff 100%);
  }

  100% {
    background-image: linear-gradient(to right, rgba(255, 7, 19, 0.5), #ffffff 99%,#ffffff 100%);
  }
}

.enter {
  width: 70px;
}

.clear {
  width: 100px;
}

.caps-lock {
  position: relative;
  
  width: 70px;
}

.caps-lock::before {
  position: absolute;
  right: 5px;
  top: 7px;
  content: '';

  width: 7px;
  height: 7px;
  border-radius: 50%;
  box-sizing: border-box;
  border: 1px solid rgba(32, 235, 125, 0.3);

  background-color: rgba(0, 120, 0, 0.5);
}

.caps-on::before {  
  animation: 1.4s infinite caps-lock;
}

@keyframes caps-lock {
  100% {
    background-color: rgb(255, 251, 7);
  }
}

.on-off {
  position: absolute;
  top: 10px;
  right: 150px;
  content: "";

  width: 100px;
  height: 40px;
  box-sizing: border-box;
  outline: none;

  border: 2px solid greenyellow;
  border-radius: 20px;
  box-shadow: 1px 1px 0 1px black;

  font-size: 25px;

  background-color: red;

  cursor: pointer;
}

.on-off:focus {
  outline: none;
}

.on-off:active {
  outline: none;
  transform: translate(2px, 2px);
  box-shadow: none;
}

.pc-on {
  animation: 1.5s forwards pc-on;
}

.pc-off {
  animation: 1.5s forwards pc-off;
}

@keyframes pc-on {
  70% {
    transform: translateY(30px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes pc-off {
  0% {
    transform: translateY(0);
  }
  
  30% {
    transform: translateY(30px);
  }

  100% {
    transform: translateY(-1000px);
  }
}

.time {
  position: absolute;
  bottom: 8px;
  right: 40px;
  
  width: 57px;
  height: 25px;
  padding-top: 2px;
  box-sizing: border-box;

  border-radius: 7px;

  color: #20eb7d;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  background-color: #12211c;
  background-image: url("img/2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  box-shadow: inset 0 0 5px 1px #19b15d;

  outline: none;
}

.display-button {
  position: absolute;
  bottom: 6px;
  left: 400px;
  
  width: 60px;
  height: 28px;

  border: 1px solid rgba(25, 177, 93, 0.4);
  border-radius: 8px;
  
  cursor: pointer;
  
  text-shadow: 0 0 6px #19b15d;
  
  box-shadow: 1px 1px 0 1px black;
  
  color: #20eb7d;
  background-color: #12211c;
  background-image: url("img/abrasion-hard.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

.display-button:focus {
  outline: none;
}

.display-button:active {
  outline: none;
  transform: translate(2px, 2px);
  box-shadow: inset 0 0 7px 3px #19b15d;
}

.display-button:hover {
  box-shadow: inset 0 0 7px 3px #19b15d,
                    1px 1px 0 1px black;
}

.display-button:focus.display-button:hover,
.display-button:active.display-button:hover {
  box-shadow: inset 0 0 7px 3px #19b15d;
}

.map-button {
  left: 40px;
}

.health {
  left: 140px;
}

.notes-button {
  left: 240px;
}

.x {
  left: 340px;
}

.z {
  left: 440px;
}

.map {
  position: relative;
  
  width: 100%;
  height: 100%;
  margin: 0 auto;
  border-radius: 30px;
  box-sizing: border-box;

  overflow: hidden;
  
  background-color: #12211c;
  background-image: url("img/map2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  box-shadow: inset 0 0 15px 5px #19b15d;

  outline: none;

  display: none;
}

.place {
  position: absolute;
}

.place-mark {
  width: 25px;
  height: 25px;
  box-sizing: border-box;

  margin: 0 auto;

  background-color: #b5b8a6;

  border: 2px solid #000000;

  cursor: pointer;
}

.place-mark:hover {
  outline: 2px solid #00ff40;
}

.town-name {
  margin: 0;
  padding: 0;

  font-family: "Monofonto", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #000000;
}

.rabbit-town {
  bottom: 20px;
  left: 150px;
}

.hell-town {
  top: 120px;
  left: 30px;
}

.wtf-town {
  top: 60px;
  left: 310px;
}

.wrecket-car {
  top: 10px;
  left: 50px;
}

.prisone {
  bottom: 40px;
  left: 450px;
}

.my-place {
  position: absolute;
  top: 286px;
  left: 209px;

  width: 25px;
  height: 25px;
  box-sizing: border-box;

  border-radius: 50%;
  border: 2px solid #0011ff;

  background-color: #07eeff;

  animation: 1s infinite my-place;
  transition: 2.5s;
}

@keyframes my-place {
  0% {
    box-shadow: inset 0 0 2px 1px #0011ff;
  }
  100% {
    box-shadow: inset 0 0 15px 5px #00ff73;
  }
}

.background-image {
  position: absolute;
  top: 120px;
  right: 3px;

  width: 30px;
  height: 15px;

  border: 1px solid rgba(25, 177, 93, 0.4);
  border-radius: 8px;
  
  cursor: pointer;
  
  text-shadow: 0 0 6px #19b15d;
  
  box-shadow: 1px 1px 0 1px black;
  
  color: #20eb7d;
  background-color: #12211c;
  background-image: url("img/abrasion-hard.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

.background-image:focus {
  outline: none;
}

.background-image:active {
  outline: none;
  transform: translate(2px, 2px);
  box-shadow: inset 0 0 7px 3px #19b15d;
}

.background-image:hover {
  box-shadow: inset 0 0 7px 3px #19b15d,
                    1px 1px 0 1px black;
}

.background-image:focus.background-image:hover,
.background-image:active.background-image:hover {
  box-shadow: inset 0 0 7px 3px #19b15d;
}

.text-color {
  position: absolute;
  top: 150px;
  right: 3px;

  width: 30px;
  height: 15px;

  border: 1px solid rgba(25, 177, 93, 0.4);
  border-radius: 8px;
  
  cursor: pointer;
  
  text-shadow: 0 0 6px #19b15d;
  
  box-shadow: 1px 1px 0 1px black;
  
  color: #20eb7d;
  background-color: #12211c;
  background-image: url("img/abrasion-hard.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

.text-color:focus {
  outline: none;
}

.text-color:active {
  outline: none;
  transform: translate(2px, 2px);
  box-shadow: inset 0 0 7px 3px #19b15d;
}

.text-color:hover {
  box-shadow: inset 0 0 7px 3px #19b15d,
                    1px 1px 0 1px black;
}

.text-color:focus.text-color:hover,
.text-color:active.text-color:hover {
  box-shadow: inset 0 0 7px 3px #19b15d;
}
