@charset "UTF-8";
@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: local("Roboto"), url("../fonts/roboto.woff") format("woff"), url("../fonts/roboto.woff2") format("woff2"); }

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  src: local("Roboto"), url("../fonts/robotomedium.woff") format("woff"), url("../fonts/robotomedium.woff2") format("woff2"); }

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  src: local("Roboto"), url("../fonts/robotobold.woff") format("woff"), url("../fonts/robotobold.woff2") format("woff2"); }

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px; }

img {
  max-width: 100%;
  height: auto; }

body {
  margin: 0 auto;
  padding: 0;
  padding-left: 27px;
  padding-right: 27px;
  min-width: 900px;
  max-width: 1200px;
  font-family: "Roboto","Open Sans",sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #323232;
  background-color: #849d8f;
  box-sizing: border-box; }

.main {
  position: relative;
  z-index: auto; }

.input {
  padding-left: 13px;
  padding-right: 9px;
  padding-top: 8px;
  padding-bottom: 10px;
  height: 44px;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  background-color: #ffffff;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #323232; }
  .input::-webkit-input-placeholder {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #999999; }
  .input::-moz-placeholder {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #999999; }
  .input:-ms-input-placeholder {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #999999; }
  .input::-ms-input-placeholder {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #999999; }
  .input::placeholder {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #999999; }
  .input:hover {
    border: 2px solid #c7c6c5; }
  .input:focus {
    outline: none;
    border: solid 2px rgba(46, 136, 228, 0.52); }

.button {
  display: inline-block;
  border: none;
  border-radius: 21px;
  margin: 0;
  padding: 0;
  min-width: 100px;
  height: 44px;
  box-sizing: border-box;
  vertical-align: middle;
  text-decoration: none;
  color: #fefefe;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  box-shadow: 0px 1px 2px 0 #ac1000;
  background-image: linear-gradient(to top, #e74a35, #f26843);
  cursor: pointer; }
  .button:hover {
    box-shadow: 0px 2px 2px 0 #ac1000;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(to top, #e74a35, #f26843); }
  .button:active {
    box-shadow: inset 0px 2px 2px 0 #942718;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(to bottom, #e74a35, #f26843); }
  .button--link {
    padding-top: 8px;
    padding-left: 15px;
    padding-right: 15px; }

.popup {
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4); }

.header__body {
  margin-top: 9px; }

.header {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  z-index: 2; }

.header__navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.header__navigation-link {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #ffffff;
  height: 32px;
  padding-right: 13px;
  padding-left: 13px;
  padding-top: 6px;
  box-sizing: border-box;
  border-radius: 16px; }
  .header__navigation-link::after {
    position: absolute;
    bottom: 7px;
    left: 13px;
    content: "";
    width: calc(100% - 26px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
  .header__navigation-link:hover {
    background-color: #f7f6f3;
    color: #323232; }
  .header__navigation-link:hover::after, .header__navigation-link--active::after {
    border: none; }
  .header__navigation-link:active {
    box-shadow: inset 0px 2px 1px 0 #696969; }
  .header__navigation-link--active {
    background-color: #d07058;
    cursor: default; }

.header__navigation-item {
  margin-right: 2px;
  color: #ffffff; }

.header__navigation-sub-list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  position: absolute;
  top: 37px;
  left: -8px;
  z-index: 4;
  display: none; }

.header__navigation-sub-list::after {
  position: absolute;
  content: "";
  left: 15px;
  top: -5px;
  width: 70px;
  height: 6px; }

.header__navigation-sub-link {
  display: inline-block;
  width: 143px;
  height: 28px;
  padding-left: 20px;
  padding-top: 6px;
  margin-top: 2px;
  margin-bottom: 3px;
  box-sizing: border-box;
  text-decoration: none;
  color: #323232; }
  .header__navigation-sub-link--new {
    position: relative;
    font-weight: 700;
    height: 28px;
    padding-top: 6px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 6px;
    box-sizing: border-box; }
    .header__navigation-sub-link--new::after {
      position: absolute;
      content: "";
      bottom: -6px;
      left: 6px;
      width: calc(100% - 15px);
      border-bottom: 1px solid rgba(50, 50, 50, 0.2); }
  .header__navigation-sub-link:hover {
    background-color: #fbded7; }
  .header__navigation-sub-link:active {
    background-color: #f6b5a5; }
  .header__navigation-sub-link--active {
    background-color: #d07058; }

.header__right-side {
  margin-left: auto; }

.header__buttons-wrapper {
  position: relative;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap; }

.header__logo {
  margin-right: 11px; }

.header__logo-image {
  width: 154px;
  height: 64px; }

.header__navigation {
  padding-top: 14px; }

.header__button {
  border: none;
  margin: 0;
  padding: 0;
  position: relative;
  height: 32px;
  min-width: 32px;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.2);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #ffffff; }
  .header__button--log-in, .header__button--cart {
    padding-left: 45px;
    padding-right: 16px;
    margin-left: 10px; }
  .header__button--cart {
    pointer-events: none; }
  .header__button--search-icon {
    position: absolute;
    width: 17px;
    height: 17px;
    top: 7px;
    left: 8px; }
  .header__button--log-in-icon {
    position: absolute;
    width: 21px;
    height: 19px;
    top: 6px;
    left: 17px; }
  .header__button--cart-icon {
    position: absolute;
    width: 21px;
    height: 20px;
    top: 6px;
    left: 16px; }
  .header__button:hover {
    background-color: #f8f7f4;
    color: #323232; }
  .header__button:hover path,
  .header__button:hover circle {
    fill: #323232; }
  .header__button:hover .cart-red-fill {
    fill: #E84D37; }

.header__button--full-cart {
  padding-left: 45px;
  padding-right: 16px;
  margin-left: 10px;
  background-color: #f8f7f4;
  color: #323232; }

.header__button--full-cart-icon {
  position: absolute;
  width: 21px;
  height: 20px;
  top: 6px;
  left: 16px;
  display: none; }

.header__right-side {
  padding-top: 14px; }

.header__info {
  margin-top: 17px; }

.header__work-time {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  margin: 0;
  padding: 0;
  color: #ffffff;
  text-align: right; }

.header__phone-number {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  margin-top: 4px;
  color: #ffffff;
  text-align: right; }

.header__search {
  position: absolute;
  top: 36px;
  left: -310px;
  min-width: 341px;
  padding: 20px 15px;
  box-sizing: border-box;
  z-index: 4;
  display: none; }
  .header__search::after {
    position: absolute;
    content: "";
    top: -15px;
    right: 0;
    width: 35px;
    height: 25px; }

.header__input-search {
  min-width: 311px; }

.header__form {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 36px;
  left: -142px;
  min-width: 277px;
  padding: 20px 17px 22px 19px;
  box-sizing: border-box;
  z-index: 4;
  display: none; }

.header__form::after {
  position: absolute;
  content: "";
  width: 90px;
  height: 25px;
  right: 0;
  top: -5px; }

.header__form-flex-wrapper {
  display: flex;
  flex-direction: row; }

.header__input-login {
  margin-bottom: 20px; }

.header__input-password {
  margin-bottom: 20px; }

.header__form-link {
  position: relative;
  display: inline;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  color: #323232;
  text-decoration: none;
  margin-left: 20px; }
  .header__form-link::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.3); }

.header__shoping-cart {
  position: absolute;
  top: 36px;
  left: -277px;
  min-width: 540px;
  box-sizing: border-box;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 14px;
  display: none; }
  .header__shoping-cart::after {
    position: absolute;
    content: "";
    top: -5px;
    right: 25px;
    width: 110px;
    height: 6px; }

.header__cart-items-list {
  margin: 0;
  padding: 0;
  list-style: none; }

.header__cart-item-delete {
  border: none;
  margin: 0;
  padding: 0;
  width: 11px;
  height: 11px;
  margin-top: 10px;
  margin-left: 6px;
  background-image: url(../img/x.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f8f7f4;
  flex-shrink: 0;
  cursor: pointer; }

.header__cart-item-image {
  width: 33px;
  height: 33px;
  margin-left: 10px;
  flex-shrink: 0; }
  .header__cart-item-image--orange {
    background-image: url(../img/icon-yellow-icecream.png); }
  .header__cart-item-image--strawberry {
    background-image: url(../img/icon-pink-icecream.png); }

.header__cart-item {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px; }

.header__cart-item-name {
  width: 230px;
  margin-top: 9px;
  margin-left: 13px;
  flex-shrink: 0; }

.header__cart-item-cost-calculation {
  min-width: 100px;
  margin-top: 9px;
  margin-left: 16px; }

.header__cart-item-total {
  min-width: 50px;
  margin-top: 9px;
  margin-left: 24px;
  padding-right: 19px; }

.header__cart-item-price {
  color: #999999; }

.header__cart-total {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-align: right;
  margin-top: -4px;
  padding-top: 13px;
  border-top: 1px solid #cacac7; }

.header__cart-order-button {
  margin-top: 15px;
  float: right; }

.slider {
  z-index: 1;
  position: relative; }

.slider__header {
  margin-top: -116px; }

.slider__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 881px;
  padding-top: 390px;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: center; }
  .slider__item--1 {
    background-image: url(../img/slide-1-background.png); }
  .slider__item--2 {
    background-image: url(../img/slide-2-background.png);
    background-position: left 32px bottom 22px;
    display: none; }
  .slider__item--3 {
    background-image: url(../img/slide-3-background.png);
    background-position: left 34px bottom 27px;
    display: none; }

.slider__paragraph {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  color: #ffffff; }

.slider__button {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  height: 63px;
  margin-top: 33px;
  padding-right: 40px;
  padding-left: 40px;
  border-radius: 30px;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76); }

.slider__toggles {
  position: absolute;
  bottom: 292px;
  left: 0; }

.slider__toggle {
  border: none;
  margin: 0;
  padding: 0;
  width: 21px;
  height: 21px;
  margin-right: 4px;
  box-sizing: border-box;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer; }
  .slider__toggle:hover {
    background-color: rgba(255, 255, 255, 0.4); }

.slider__toggle--active {
  background-color: #ffffff;
  pointer-events: none; }

.promo {
  width: 560px;
  padding-top: 14px;
  padding-bottom: 23px;
  padding-left: 20px;
  padding-right: 21px;
  box-sizing: border-box;
  border-radius: 12px; }

.promo__name {
  margin: 0;
  margin-bottom: 16px;
  margin-left: -2px;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
  color: #ffffff; }

.promo__text {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff; }

.promo--raspberry {
  background-image: url(../img/raspberry-background.png);
  background-repeat: no-repeat;
  background-position: center; }

.promo--chocolate {
  background-image: url(../img/chocolate-background.png);
  background-repeat: no-repeat;
  background-position: center; }

.promo__button-wrapper-flex {
  display: flex;
  flex-direction: row; }

.promo__button {
  height: 46px;
  margin-top: 45px;
  margin-left: auto;
  padding-left: 22px;
  padding-right: 23px;
  padding-top: 9px;
  border-radius: 23px; }

.promotions__slider {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: -234px;
  z-index: 2; }

.best-offer__promotions {
  display: flex;
  flex-direction: row;
  margin-top: 34px;
  justify-content: space-between; }

.good {
  position: relative;
  width: 267px;
  min-height: 330px;
  padding-top: 6px;
  box-sizing: border-box; }
  .good:hover {
    z-index: 1; }
  .good:hover .good__hover {
    display: block;
    z-index: -1; }
  .good:hover .good__link {
    display: block;
    z-index: 2; }

.good__price {
  position: absolute;
  top: 214px;
  left: 0;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
  color: #ffffff;
  text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5); }

.good__price-weight {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 45px; }

.good__description {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  text-align: center;
  word-break: break-word;
  -webkit-text-decoration: underline rgba(255, 255, 255, 0.2);
          text-decoration: underline rgba(255, 255, 255, 0.2);
  text-underline-offset: 3px;
  margin-top: 7px; }

.good--hit::after {
  position: absolute;
  content: "";
  top: 6px;
  left: 0;
  width: 61px;
  height: 61px;
  background-image: url(../img/hit.png); }

.good__hover {
  display: none;
  position: absolute;
  top: 0;
  left: -13px;
  width: 293px;
  height: calc(100% + 75px);
  background-color: #ffffff;
  border-radius: 8px;
  opacity: 0.3;
  z-index: -1; }

.good__link {
  display: none;
  position: absolute;
  bottom: -60px;
  left: 32px;
  z-index: 2; }

.features__best-offer {
  margin-top: 38px; }

.features {
  background-image: url(../img/waffle-background.png);
  background-repeat: repeat;
  background-position: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 25px;
  padding-bottom: 25px;
  border-radius: 15px; }

.features__header {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #323232; }

.features__item-text {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #323232;
  padding-right: 2px; }
  .features__item-text::after {
    position: absolute;
    content: "";
    top: 2px;
    left: 0;
    width: 49px;
    height: 49px; }
  .features__item-text--icecream-icon::after {
    background-image: url(../img/icecream-icon.png);
    background-repeat: no-repeat; }
  .features__item-text--cow-icon::after {
    background-image: url(../img/cow-icon.png);
    background-repeat: no-repeat; }
  .features__item-text--leaf-icon::after {
    background-image: url(../img/leaf-icon.png);
    background-repeat: no-repeat; }
  .features__item-text--thermometer-icon::after {
    background-image: url(../img/thermometer-icon.png);
    background-repeat: no-repeat; }

.features__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none; }

.features__item {
  position: relative;
  width: 541px;
  padding-left: 57px;
  padding-top: 15px;
  margin-top: 6px;
  box-sizing: border-box; }

.blog {
  width: 560px;
  min-height: 220px;
  padding: 23px 20px;
  box-sizing: border-box;
  border-radius: 15px;
  background-image: url(../img/strawberry-icecream-background.jpg);
  background-repeat: no-repeat; }

.blog__header {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #323232;
  margin: 0;
  padding: 0; }

.blog__link {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  width: 290px;
  margin-top: 3px; }

.conversations__features {
  margin-top: 40px; }

.conversations {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.mailing {
  width: 560px;
  min-height: 220px;
  box-sizing: border-box;
  border-radius: 15px;
  background-image: url(../img/post-background.png);
  background-position: center;
  background-repeat: no-repeat;
  border: 5px solid transparent; }

.mailing__content {
  width: 550px;
  min-height: 210px;
  padding-left: 22px;
  padding-right: 20px;
  padding-top: 29px;
  padding-bottom: 30px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #f8f7f4; }

.mailing__text {
  margin: 0;
  padding: 0;
  margin-bottom: 36px; }

.mailing__input {
  width: 368px;
  margin-right: 9px;
  box-sizing: border-box; }
  .mailing__input::-webkit-input-placeholder {
    font-size: 16px; }
  .mailing__input::-moz-placeholder {
    font-size: 16px; }
  .mailing__input:-ms-input-placeholder {
    font-size: 16px; }
  .mailing__input::-ms-input-placeholder {
    font-size: 16px; }
  .mailing__input::placeholder {
    font-size: 16px; }

.mailing__button {
  padding-bottom: 5px;
  padding-left: 17px;
  padding-right: 17px;
  margin-top: -2px; }

.map__conversations {
  margin-top: 39px; }

.map {
  position: relative; }

.map__image {
  position: absolute;
  width: 1200px;
  left: 50%;
  transform: translateX(-50%); }
  .map__image::after {
    position: absolute;
    content: "";
    top: 139px;
    left: 266px;
    width: 218px;
    height: 142px;
    background-image: url(../img/pin.png);
    background-repeat: no-repeat; }

.map__contacts {
  position: absolute;
  top: 63px;
  right: 0;
  width: 302px;
  padding: 30px 25px;
  box-sizing: border-box;
  background-color: #fefefe;
  border-radius: 15px; }

.map__address-label {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  padding: 0; }

.map__address-text {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  padding: 0; }

.map__phone-label {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  padding: 0;
  margin-top: 18px; }

.map__phone-number {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  padding: 0;
  margin-top: 4px; }

.map__office-hours {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  margin: 0;
  padding: 0;
  margin-top: 3px; }

.map__button {
  margin-top: 23px;
  padding-top: 8px;
  padding-left: 27px;
  padding-right: 27px; }

.footer__map {
  margin-top: 469px; }

.footer {
  display: flex;
  flex-direction: row; }

.footer__social-media-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  padding-top: 37px;
  margin-right: 226px; }

.footer__social-media-item {
  width: 32px;
  height: 32px;
  margin-right: 13px;
  border: 2px solid #c2cec7;
  border-radius: 50%;
  cursor: pointer; }

.footer__social-media-item svg {
  opacity: 0.8; }

.footer__social-media-item:hover svg {
  opacity: 1; }

.footer__social-media-item:active svg path,
.footer__social-media-item:active svg g {
  opacity: 1;
  fill: #e9e9e9; }

.footer__menu-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 50px;
  padding-top: 31px; }

.footer__menu-link {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  margin-right: 31px;
  margin-bottom: 5px; }

.footer__menu-link--for-suppliers {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  position: relative; }
  .footer__menu-link--for-suppliers::after {
    position: absolute;
    content: "";
    top: 4px;
    left: -22px;
    width: 15px;
    height: 13px;
    background-image: url(../img/heart-icon.svg);
    background-repeat: no-repeat; }

.footer__copyright {
  margin-left: auto;
  padding-top: 5px; }

.footer__copyright-text {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #fefefe; }

.footer__copyright-link {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #fefefe; }

.feedback {
  display: none;
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  width: 477px;
  padding-top: 16px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;
  box-sizing: border-box;
  border-radius: 10px;
  z-index: 3; }

.feedback__form {
  display: flex;
  flex-direction: column; }

.feedback__name {
  width: 267px;
  margin-bottom: 20px; }
  .feedback__name::-webkit-input-placeholder {
    font-size: 16px; }
  .feedback__name::-moz-placeholder {
    font-size: 16px; }
  .feedback__name:-ms-input-placeholder {
    font-size: 16px; }
  .feedback__name::-ms-input-placeholder {
    font-size: 16px; }
  .feedback__name::placeholder {
    font-size: 16px; }

.feedback__email {
  width: 267px;
  margin-bottom: 20px; }
  .feedback__email::-webkit-input-placeholder {
    font-size: 16px; }
  .feedback__email::-moz-placeholder {
    font-size: 16px; }
  .feedback__email:-ms-input-placeholder {
    font-size: 16px; }
  .feedback__email::-ms-input-placeholder {
    font-size: 16px; }
  .feedback__email::placeholder {
    font-size: 16px; }

.feedback__textarea {
  height: 155px;
  margin-bottom: 25px;
  resize: none; }
  .feedback__textarea::-webkit-input-placeholder {
    font-size: 16px; }
  .feedback__textarea::-moz-placeholder {
    font-size: 16px; }
  .feedback__textarea:-ms-input-placeholder {
    font-size: 16px; }
  .feedback__textarea::-ms-input-placeholder {
    font-size: 16px; }
  .feedback__textarea::placeholder {
    font-size: 16px; }

.feedback__button-close {
  border: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 15px;
  right: 15px;
  width: 18px;
  height: 18px;
  background-color: transparent;
  background-image: url(../img/x-big.png);
  background-repeat: no-repeat;
  cursor: pointer; }

.feedback__header {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 20px; }

.feedback__button {
  width: 140px;
  margin-left: auto; }

.dark-background {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  background-color: #000000;
  opacity: 0.5;
  z-index: 2; }

.catalog-navigation__header {
  position: relative;
  margin-top: -21px;
  z-index: 3; }

.catalog-navigation__list {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style: none; }

.catalog-navigation__link {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  text-decoration: underline; }

.catalog-navigation__item {
  position: relative;
  margin-right: 21px; }
  .catalog-navigation__item::after {
    position: absolute;
    content: "»";
    top: 4px;
    right: -19px;
    width: 12px;
    height: 12px;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px; }
  .catalog-navigation__item:last-child a {
    text-decoration: none; }
  .catalog-navigation__item:last-child {
    pointer-events: none; }
    .catalog-navigation__item:last-child::after {
      content: ""; }

.catalog-navigation__title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
  color: #ffffff;
  margin: 0;
  padding: 0; }

.link--white {
  color: #ffffff;
  text-decoration: underline;
  text-underline-offset: 3px;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  -webkit-text-decoration-color: #9db1a5;
          text-decoration-color: #9db1a5; }
  .link--white:hover, .link--white:active {
    color: #ffbc9e;
    -webkit-text-decoration-color: #a7a294;
            text-decoration-color: #a7a294; }

.link--black {
  color: #323232;
  text-decoration: underline;
  text-underline-offset: 3px;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  -webkit-text-decoration-color: #353535;
          text-decoration-color: #353535; }
  .link--black:hover, .link--black:active {
    color: #e84d37;
    -webkit-text-decoration-color: #f9cdc4;
            text-decoration-color: #f9cdc4; }

.filter-border {
  margin: 0;
  padding: 8px 0 8px 15px;
  border-radius: 20px;
  border-color: #a9bab0;
  background-color: #a9bab0; }

.filter__catalog-navigation {
  margin-top: 28px; }

.filter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 845px; }

.filter__sort {
  display: flex;
  flex-direction: column;
  margin-right: 13px;
  margin-bottom: 13px; }

.filter__sort-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  margin-left: 16px;
  margin-bottom: 6px; }

.filter__select {
  width: 195px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url(../img/icon-select.png);
  background-repeat: no-repeat;
  background-position: right 15px top 50%;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px; }
  .filter__select:focus {
    background-color: #ffffff;
    background-image: url(../img/icon-select-active.png);
    color: #323232; }

.filter__option {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000000; }

.filter__price-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  margin: 0;
  padding: 0;
  color: #ffffff;
  margin-bottom: 4px;
  padding-left: 17px; }

.filter__price-input {
  display: inline-block;
  width: 32px;
  border: none;
  background-color: transparent;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff; }

.filter__price-range {
  position: relative;
  width: 218px;
  height: 36px;
  box-sizing: border-box; }

.filter__range-button {
  width: 4px;
  height: 4px;
  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  cursor: pointer; }

.filter__range-bar {
  position: absolute;
  top: 16px;
  left: 22px;
  width: 176px;
  height: 4px;
  background-color: #d1dad3; }
  .filter__range-bar:after {
    position: absolute;
    content: "";
    top: 0;
    left: 23px;
    width: 98px;
    height: 4px;
    background-color: #f8f7f4; }

.filter__range-button-left {
  position: absolute;
  top: 8px;
  left: 35px; }

.filter__range-button-right {
  position: absolute;
  top: 8px;
  right: 65px; }

.filter__richness {
  border: none;
  margin: 0;
  padding: 0;
  margin-left: 15px; }

.filter__richness-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  padding-left: 16px;
  margin-bottom: 6px; }

.filter__richness-wrapper {
  height: 36px;
  box-sizing: border-box;
  padding-right: 15px; }

.filter__richness-input-label {
  position: relative;
  padding-left: 32px;
  margin-right: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  cursor: pointer; }
  .filter__richness-input-label:nth-last-child(1) {
    margin-right: 0; }
  .filter__richness-input-label::before {
    position: absolute;
    content: "";
    top: -4px;
    left: 0;
    width: 22px;
    height: 22px;
    background-image: url(../img/icon-radio-off.png);
    background-repeat: no-repeat;
    background-position: 0 0; }
  .filter__richness-input-label:hover::before {
    background-image: url(../img/icon-radio-off-hover.png);
    background-repeat: no-repeat;
    background-position: 0 0; }

.filter__richness-input:disabled + .filter__richness-input-label::before {
  background-image: url(../img/icon-radio-off-disabled.png);
  background-repeat: no-repeat;
  background-position: 0 0; }

.filter__richness-input:checked + .filter__richness-input-label::before {
  background-image: url(../img/icon-radio-on.png);
  background-repeat: no-repeat;
  background-position: 0 0; }

.filter__richness-input:checked + .filter__richness-input-label:hover::before {
  background-image: url(../img/icon-radio-on-hover.png);
  background-repeat: no-repeat;
  background-position: 0 0; }

.filter__richness-input:disabled:checked + .filter__richness-input-label::before {
  background-image: url(../img/icon-radio-on-disabled.png);
  background-repeat: no-repeat;
  background-position: 0 0; }

.filter__richness-input:focus + .filter__richness-input-label::before {
  outline: solid 2px #2b6845; }

.filter__fillers {
  border: none;
  margin: 0;
  padding: 0; }

.filter__fillers-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: auto;
  color: #ffffff;
  margin: 0;
  margin-bottom: 3px;
  padding: 0;
  padding-left: 15px; }

.filter__fillers-wrapper {
  height: 36px;
  box-sizing: border-box;
  padding-right: 15px; }

.filter__fillers-label {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  padding-left: 32px;
  margin-right: 16px;
  cursor: pointer; }
  .filter__fillers-label:nth-last-child(1) {
    margin-right: 0; }
  .filter__fillers-label::before {
    position: absolute;
    content: "";
    top: -1px;
    left: 1px;
    width: 22px;
    height: 22px;
    background-image: url(../img/icon-checkbox-off.png);
    background-repeat: no-repeat;
    background-position: 0 0; }
  .filter__fillers-label:hover::before {
    background-image: url(../img/icon-checkbox-off-hover.png);
    background-repeat: no-repeat;
    background-position: 0 0; }

.filter__fillers-input:disabled + .filter__fillers-label::before {
  background-image: url(../img/icon-checkbox-off-disabled.png);
  background-repeat: no-repeat;
  background-position: 0 0; }

.filter__fillers-input:checked + .filter__fillers-label::before {
  background-image: url(../img/icon-checkbox-on.png);
  background-repeat: no-repeat;
  background-position: 0 0; }

.filter__fillers-input:checked + .filter__fillers-label:hover::before {
  background-image: url(../img/icon-checkbox-on-hover.png);
  background-repeat: no-repeat;
  background-position: 0 0; }

.filter__fillers-input:disabled:checked + .filter__fillers-label::before {
  background-image: url(../img/icon-checkbox-on-disabled.png);
  background-repeat: no-repeat;
  background-position: 0 0; }

.filter__fillers-input:focus + .filter__fillers-label::before {
  outline: solid 2px #2b6845; }

.filter__submit-button {
  width: 144px;
  height: 36px;
  padding: 0;
  margin: 0;
  margin-left: auto;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 20px;
  align-self: flex-end;
  background-color: #a5b7ad;
  cursor: pointer; }
  .filter__submit-button:hover {
    background-color: #ffffff;
    color: #323232; }
  .filter__submit-button:active {
    background-color: #eaeaea;
    box-shadow: inset 0 2px 1px #696969;
    border: none;
    color: #323232; }

.goods {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 100px; }

.goods__filter {
  margin-top: 34px; }

.goods__item {
  margin-bottom: 32px;
  margin-right: 26px; }
  .goods__item:nth-child(4n+1) {
    margin-right: 0; }

.goods__pages {
  position: absolute;
  bottom: 27px;
  right: 0;
  display: flex;
  flex-direction: row;
  min-width: 80px;
  margin-left: auto;
  margin-top: 47px;
  box-sizing: border-box; }

.goods__pages-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row; }

.goods__button {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent; }
  .goods__button--active path {
    fill: #ffffff; }
  .goods__button--active {
    cursor: pointer; }
  .goods__button--previous {
    transform: rotate(180deg);
    margin-right: 15px; }
  .goods__button--next {
    margin-left: 15px; }

.goods__page {
  display: flex;
  width: 26px;
  height: 26px;
  margin-right: 4px;
  box-sizing: border-box;
  border-radius: 50%; }
  .goods__page:last-child {
    margin-right: 0; }
  .goods__page:hover {
    background-color: #9db1a5;
    cursor: pointer; }
  .goods__page--current {
    background-color: #ffffff;
    pointer-events: none; }
  .goods__page--current .goods__page-link {
    color: #323232; }

.goods__page-link {
  display: inline-block;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  width: 100%;
  height: 100%;
  padding-left: 9px;
  padding-top: 5px; }
